body {
    background-color: rgb(230, 218, 162);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    background-image: url("{{ url_for('static', filename='folhabackgorund.jpg') }}");
}

.navbar a {
    text-align: center;
    color: rgb(227, 214, 147);
    background-color: rgb(63, 126, 63);
    padding: 20px;
}

img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 10px 0 15px;
}

h1, h2 {
    color: rgb(25, 65, 25);
    text-align: center;
    text-shadow: 1px 1px 2px white;
}


/* --- CALENDÁRIO --- */

.calendario {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: center;
    font-family: Arial;
}

.calendario th {
    background: #eee;
    padding: 10px;
}

.calendario td {
    border: 1px solid #ccc;
    vertical-align: top;
    padding: 5px;
    width: 14%; /* todas as colunas com mesma largura */
    height: 100px; /* altura mais equilibrada */
    position: relative;
    background: white;
}

/* Evento dentro do calendário */
.evento {
    margin-top: 5px;
    padding: 5px;
    background: #f0f8ff;
    border-left: 3px solid #0077cc;
    font-size: 13px;
    text-align: left;
    list-style: none;
}

.evento::marker {
    content: "";
}
